/* Blinking cursor */
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-blink {
    display: inline-block;
    width: 1ch;
    animation: blink 1s steps(1, start) infinite;
    color: white;
    border-radius: 10px !important;
  }
  